<svg xmlns="http://www.w3.org/2000/svg" width="{{TW}}" height="20" role="img" aria-label="{{LABEL}}: {{VAL}}">
<title>{{LABEL}}: {{VAL}}</title>
<linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#fff" stop-opacity=".12"/><stop offset=".5" stop-color="#000" stop-opacity="0"/><stop offset="1" stop-opacity=".18"/></linearGradient>
<clipPath id="r"><rect width="{{TW}}" height="20" rx="4" fill="#fff"/></clipPath>
<g clip-path="url(#r)">
<rect width="{{LW}}" height="20" fill="{{LCOL}}"/>
<rect x="{{LW}}" width="{{VW}}" height="20" fill="{{COL}}"/>
<rect width="{{TW}}" height="20" fill="url(#s)"/>
</g>
<g fill="#fff" text-anchor="middle" font-family="Segoe UI,Verdana,DejaVu Sans,sans-serif" font-size="11">
<text x="{{LCX}}" y="15" transform="scale(.1)" fill="#000" fill-opacity=".3" textLength="{{LTL}}">{{LABEL}}</text>
<text x="{{LCX}}" y="14" transform="scale(.1)" textLength="{{LTL}}">{{LABEL}}</text>
<text x="{{VCX}}" y="15" transform="scale(.1)" fill="#000" fill-opacity=".3" textLength="{{VTL}}">{{VAL}}</text>
<text x="{{VCX}}" y="14" transform="scale(.1)" textLength="{{VTL}}">{{VAL}}</text>
</g>
</svg>
